<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tariffcomparisonapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bb19c086-a98e-4532-9043-d8380b693b24/resourceGroups/TariffComparisonRG/providers/Microsoft.Web/sites/TariffComparisonApp</ResourceId>
    <PublishUrl>https://tariffcomparisonapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>